.invoices{
    background: linear-gradient(red,yellow,black);
}
.invoice{
 max-width: 74%;
 margin: auto;
 background-color: white;
}
.action{
    max-width: 74%;
    margin: auto;
    padding: 1%;
    text-align: center;
   }
.action button{
    padding: 2%;
    color: yellow;
    background-color: black;
    border-radius: 15px;
    border-color: black;
}
.box{
    display: flex;
}
.right{
    margin-right: auto;
    width: 50%;
    padding: 1%;
}
.left{
    margin-left: auto;
    width: 50%;
    padding: 1%;
    text-align: center;
    align-items: center;
}
.picture{
    width:25%;
}
.contact{
    text-align: center;
    align-items: center;
    width: 80%;
    margin: auto;
    }
table{width: 100%;
    margin: auto;
}
tr:hover {background-color: yellow;
}
th,td{
text-align: center;
border-bottom: 1px solid #ddd;
}

