body{

max-width: 100%;
margin: auto;
}
.navigator{
    background-color:white;
    display: flex;
}
.btn {
    font: inherit;
    width: 23%;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border-radius: 4px;
    background-color: #800040;
    color: white;
    border: 1px solid #800040;
    margin: 0.25%;
  }
  
  .btn:hover {
    background-color: #9c1458;
    border-color: #9c1458;
  }
  .card {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    width: 50%;
    margin: auto;
    text-align: center;
  }
  table{
    width: 100%;
  }
  .input{
    margin-bottom: 0.2em;
  }
  .btn:active{
      background-color: black;
      color: yellow;
  }
  .hide{
    display: none;
  }

  @media (min-width:720px){
    body{
      width: 80%;
      margin: auto;
      background-color: whitesmoke;
    }
  }
  